async-generator==1.10
attrs==22.2.0
beautifulsoup4==4.11.2
certifi==2023.7.22
exceptiongroup==1.1.1
h11==0.14.0
idna==3.4
numpy==1.24.2
outcome==1.2.0
pandas==1.5.3
psycopg2-binary==2.9.5
py4j==0.10.9.5
PySocks==1.7.1
pyspark==3.3.2
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2022.7.1
selenium==4.8.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
trio==0.22.0
trio-websocket==0.10.0
urllib3==1.26.15
wsproto==1.2.0
